a {
  text-decoration: none;
  color: inherit;
  vertical-align: top;
}

.router-link-exact-active {
  color: #f44336;
}

.van-tabs__line {
  background-color: rgb(251, 114, 153);
}

.router-link-exact-active,
.filter-box .van-tabs__wrap .van-tab--active .van-tab__text,
.van-dialog__confirm,
.van-dialog__confirm:active {
  color: rgb(251, 114, 153);
}

#colophon,
#mobile-footer-menu,
.wrapper>div>.filter-box>.filter-item:nth-child(8) {
  display: none;
}

body {
  overflow-x: visible;
}

.site {
  background-color: #f4f5f7;
}

.site .site-header-in {
  box-shadow: none;
}

#app {
  margin-top: 0px;
}

input[type="text"] {
  border: none;
}

.van-image img {
  border-radius: 4px;
}

.van-cell .update {
  color: #00a1d6;
  float: right;
}

/**导航**/
.navbar {
  height: 50px;
  padding: 0 10px 0 10px;
  background: #fff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid #e7e7e7;
}

.navbar i {
  font-size: 22px;
}

.navbar .search {
  background-color: #f4f4f4;
  height: 35px;
  width: 45vw;
  border-radius: 4px;
  position: relative;
}

.navbar .search .iconNav {
  color: #aaa;
  position: absolute;
  left: 10px;
  top: 50%;
  font-size: 20px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (min-width: 1414px) {
  .navbar .search {
    width: 400px;
    height: 35px;
  }
}

/**搜索页面**/
.search-hot {
  /* margin-top:3.73333vw;*/
  margin-bottom: 25px;
  padding: 20px 10px 0;
}

.search-hot .title {
  color: #999;
  font-size: 15px;
  font-weight: 400;
  height: 50px;
  line-height: 50px;
}

.search-hot .list span {
  background: #f4f4f4;
  display: inline-block;
  padding: 5px 20px;
  border-radius: 4px;
  color: #333;
  font-size: 14px;
  margin: 0 15px 10px 0;
}

.search-history .title {
  height: 50px;
  padding-left: 10px;
  line-height: 50px;
  font-weight: 400;
  color: #999;
  font-size: 15px;
}

.search-history .history-list {
  padding-left: 10px;
}

.search-history .history-list li {
  background: #f4f4f4;
  display: inline-block;
  padding: 5px 20px;
  border-radius: 4px;
  color: #333;
  font-size: 14px;
  margin: 0 15px 10px 0;
}

.search-history .clear-history {
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.search-history .clear-history span {
  font-size: 15px;
  color: #999;
}

/*分类页*/
.filter-box .filter-item {
  height: 33px;
  line-height: 20px;
  display: flex;
  padding-top: 20px;
}

.filter-box .filter-item .filter-box--type {
  width: 65px;
  flex: none;
  font-size: 14px;
  text-align: right;
  display: none;
}

.filter-item .filter-item-col {
  flex: 1;
  overflow: hidden;
}

.filter-box .filter-item-col .van-tab {
  width: auto;
  flex: none;
  padding: 0 15px;
}

/*详情页*/
.box-common {
  background-color: #ffffff;
  margin-bottom: 10px;
  margin-top: 20px;
}

.detail-box .bd {
  position: relative;
  overflow: hidden;
}

.detail-box .video-detail-item {
  display: flex;
  padding: 8px;
  position: relative;
}

.detail-box .video-thumb {
  max-width: 150px;
}

.detail-box .video-thumb-wrapper {
  position: relative;
  line-height: 0;
}

.detail-box .video-thumb img {
  width: 100%;
  border-radius: 4px;
}

.detail-box .video-thumb span {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.65);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  width: auto;
  max-width: 84%;
}

.detail-box .video-detail {
  flex: 1;
  padding: 0 0 0 10px;
}

.detail-box .video-detail h5 {
  margin: 0;
  font-size: 16px;
  margin-bottom: 10px;
  color: #f4f5f7;
}

.detail-box .video-detail h5,
.detail-box .video-detail p,
.video-list .video-item-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-all;
}

.detail-box .video-detail p {
  font-size: 14px;
  color: #f4f5f7;
  padding: 3px 0px 0px 0px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.detail-box .videos-description {
  font-size: 14px;
  padding: 10px;
  line-height: 1.7;
  position: relative;
  color: #999;
  height: 84px;
  overflow: hidden;
}

.detail-box .videos-description .videos-description-title {
  font-weight: bold;
}

.detail-box .videos-description.videos-description--active {
  height: auto;
}

.detail-box .videos-description .more-info {
  position: absolute;
  right: 10px;
  bottom: 6px;
  height: 20px;
  line-height: 20px;
  text-align: right;
}

.detail-box .videos-description .more-info .c-more-link {
  position: relative;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  color: #f4f5f7;
  width: 50px;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.5);
  margin: 0px 0px 0px;
}

.detail-box .videos-description .c-more-link:before,
.detail-box .videos-description.videos-description--active .c-more-link:before {
  content: "展开";
  position: absolute;
  left: 0;
  top: 0;
  margin: 0 3px 0;
}

.detail-box .videos-description.videos-description--active .c-more-link:before {
  content: "收起";
}

.detail-box .videos-description .more-info .c-more-link .van-icon {
  color: #f4f5f7;
  vertical-align: -2px;
  padding: 0 5px;
}

.detail-box .videos-description.videos-description--active .more-info .c-more-link .van-icon {
  transform: rotate(-180deg);
}

/**详情页选集**/
.ep-list-pre-wrapper {
  padding: 10px 10px;
  background-color: #fff;
  margin-top: 1px;
}

.ep-list-pre-wrapper .ep-list-pre-header {
  position: relative;
  width: 100%;
  height: 44px;
  line-height: 44px;
  font-size: 15px;
  overflow: hidden;
}

.ep-list-pre-wrapper .ep-list-pre-header .ep-list-pre-title {
  float: left;
  font-weight: 700;
}

.ep-list-pre-wrapper .ep-list-pre-header i {
  position: relative;
  display: block;
  float: right;
  height: 100%;
  font-size: 13px;
  color: #999;
  font-style: normal;
}

.ep-list-pre-wrapper .ep-list-pre-body {
  margin: 0 -10px;
}

.episode-item {
  border: 1px solid #ccc;
  margin-right: 12px;
  border-radius: 5px;
}

.ep-list-pre-body .van-grid-item__content {
  padding: 8px;
}

/**详情播放相关推荐**/
.season-slideer-wrapper {
  padding: 10px;
  background-color: #fff;
}

.season-slideer-wrapper .slider-wrapper {
  position: relative;
  width: 100%;
}

.slider-wrapper .slider-content {
  overflow: hidden;
}

.season-slideer-wrapper .season-slider-list {
  height: 36px;
  white-space: nowrap;
  transition: transform 0.3s ease;
}

.season-slideer-wrapper .season-slider-list span:first-child {
  border-radius: 4px 0 0 4px;
  margin-left: 0;
}

.season-slideer-wrapper .season-slider-list span {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  cursor: pointer;
  position: relative;
  margin: 0 14px 0 10px;
  line-height: 34px;
  height: 36px;
  border-top: 1px solid #e5e9ef;
  border-bottom: 1px solid #e5e9ef;
  background-color: #f4f5f7;
  min-width: 60px;
  text-align: center;
  box-sizing: border-box;
  color: #222;
  padding: 0 15px;
}

.season-slideer-wrapper .season-slider-list span:first-child::before {
  background: #f4f5f7;
  border: 1px solid #e5e9ef;
  border-right: none;
  box-sizing: border-box;
  border-radius: 4px 0 0 4px;
  left: 0;
  background: none;
}

.season-slideer-wrapper .season-slider-list span::before {
  content: "";
  position: absolute;
  left: -9px;
  top: -1px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAkCAYAAABfVsDFAAAAAXNSR0IArs4c6QAAAfRJREFUOBGNk81u00AQx2fW65jEVSRIgsqlHHkCXgCJCxdegba3SlUrHgSEQFyQaA+8CK8ALwAH8mVVbba0aez1DrMmTnZrO+1ePDvzm//MrHcReI2ms1eG6JTNgd03LbSBP5OLafwgHEgpmrjCX0YFiiLvblgI+Jpps9hIcvC/sow+p5kx94KfPGz/AqDvnLCRL3u20IdFpi830d5Uw2T2uxPJHRm4Gut030vwLsvoah32LQ+Ogu5JlmskQz613Hlwr4cKSHzLcqPraA+2gAjFp5tUp/eCtx9t/STCH5nOK3xFuVBH8T7VRt2mvaMrg0QUjBI1jtthP3DuTK0yIuaI8DFNzbwUKCq6G9eWIL+kOvcq1yrbpMEgHiHQhXvkjbBNIAQNtP5BjbBSqoeAfXHXgFb1ag77/My8O+sNYCG7+OhwnKhhpy23A35G5VpbpYe/07PL11y+44I2XAvzAzsOQ9F18guzAieJekZAz1syuM1WlTXRYdSSYYVkhzfgmCjOp7NJN27F/MsrvNcGJWqXe6U60GZ6MO/fcq9bFcmlYwVPzv6+5Mr9ppdt+RVs8vwoimSj6goens+fGsAXrFqdatnCCka9OGiF7pVxCMcs2uA/thdJETn+WrOAubYx7i2vRQGk9fO5vrle6FO6occNXOH+Bwb4n8RqXkuaAAAAAElFTkSuQmCC) no-repeat;
  width: 10px;
  height: 36px;
  z-index: 10;
}

.season-slideer-wrapper .season-slider-list span::after {
  content: "";
  position: absolute;
  right: -12px;
  top: -1px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAkCAYAAABfVsDFAAAAAXNSR0IArs4c6QAAAfVJREFUOBGF1b1uE0EQAOCZ/fFZcWIJGScRDR0SouAV6HgBJKSUVEGKhHgEeigIUsQTUEDJO9AhGpBoEcKxk5jYju3z3f5l5hQj29zdbuG73f12vLO7dwd/BiNzej7+3j8bPYVYmc7SMJrMw+nZaN47H7+s88iYgfMBZqmZaVT3ut1Wr2yQWDZKgaCVlMbbw2Xb5vUf5o6GFk0QcBRCUJuQ62uYo0tEObiYPIliBg0t25REaaJrkRlrVTQ9GFxOH3J9tfyHuTPRMnHGHq1Cvi/FSglO8GA4DO3VAaVYIC2jFCHzk2dRzIASbdFlLdHSyIylFIAAt3rD8WOuc6nE3Nls6G1w8ILvudRipWjygI96l+ndKCYJWguBxjyPYgaJEglAOKTzgrXTKKLReaFMsf93ej+KiwGIHoPfiWL6e34wmnud9rcoNtY7iv4REfMoznK7AFTHxXT4p6oY5yEg/rzTbX1lUxs5y+wVgTfLYJWYn3YPYPZutz9FcW78glb4HSVmazGtFhhrgwzy/RLytXQalJinTfu8u7vdj2JarrmQ+HYVlka2ltIC+EU79iWKc+uuaHFfb0Kur83Z03JRXmG/u/MhinPrM0A84XNQi3kTMuNcItVJGeS24m1pXYB0kaciiFedztbvKgw3n4kf9NY/qEQ3Hdf5GsAxnUDMHAAAAABJRU5ErkJggg==) no-repeat;
  width: 13px;
  height: 36px;
  z-index: 10;
}

/**选中**/
.season-slideer-wrapper .season-slider-list span.router-link-active:first-child:before {
  background: #00a1d6;
  border: 1px solid #00a1d6;
  border-right: none;
  box-sizing: border-box;
  border-radius: 4px 0 0 4px;
}

.season-slideer-wrapper .season-slider-list span.router-link-active {
  background-color: #00a1d6;
  border-color: #00a1d6;
  color: #fff;
}

.season-slideer-wrapper .season-slider-list span.router-link-active:before {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAkCAYAAABfVsDFAAAAAXNSR0IArs4c6QAAAY9JREFUOBGNlLtKA1EQhmdWAxZiZaegIBiStxArwVoQUbESjY+jiGIju7GwsvEBfAfBbOEFJAjBFBZC1M2Oc/Yk57bn6G6RzPzzzfDPZAmCeJJ0DfL8HIjmizzwERV6BVBwEibAwDBLljBS21IDiYRreAqAeYBRsoQ3Gy9s5FapgUDCohjBcYBRsl6MCCHudPh8y6rqBHoyIrHvE6dupRoW8lTtkr1/WoSR2PDG0gfXYqNuhTYsS0ErZXineQ+Id9bIUVKGRSFC7xn98Fz9hi/Tdaf74RXMAOisGlxYgYvq8HbzjRd9Nhv8NsYEEdvRj343tCajq3QWsrzH74piJl1G5T+0x0sqUOh+G0Ss06FqHAV+OEnXGV6sBhMduaDILU8FEHfqvNSDudi4sWyDqOUDy5Ove9Mw6HcZnhlPM7/t0w3ed4HAC4om10bLnOTGGk7SVZ7acAEz13A+9J7LhOXp2k8LMPx65MUmzKIbywWz7wP+xf4ERaO0gbTlTvHlI8/07z+oMTna5+TVN83UfgHSn2di/gIipwAAAABJRU5ErkJggg==) no-repeat;
}

.season-slideer-wrapper .season-slider-list span.router-link-active:after {
  left: auto;
  margin-left: 0;
  border: none;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAkCAYAAABfVsDFAAAAAXNSR0IArs4c6QAAAYVJREFUOBGN0r9KA0EQBvBvloQoCoJYiI0IKkkKG23trMTKQhAJCoKKWvgA1hZipyDBKqJGI76GNmoh5g+CNhZa+AA5zty4G12ZJHfJHmxmyP72Y245Qq5cBfAMRfvIJAu6j3wUwAm9JhEEVzgt7URKvaGxfGgP+cqQ/Ef2jZi5Gz6vSyD7Rmx2mNdwz3GJbN+KgUEUX+YtkDUMA1Tbksj24ZgxjYvKhEW2hmOz+80t6dEYvITCa59NNTUaM3rg+Stu2CjmTb3IHohO/sXjOCvPuGGjAtp2x8Aczt+GzYH2Y9QjWaHmbThizRir+kUVIVfiekCnH4qlHcb4S1Hc64ipin715IiRx+yY54YVH5lhYp3eC0S3yKQejXNI5kMb2D6Z6APp5I3F7ZMJWUyR74J9JLqyFpoanUx0jYWRTzfMqF+XA6YHLKfuJDR91Bj/1yUPtF4d0RcGYpcS2T4s+cR8BxbI2oTJQzx+LIHsG7HCLhZH3yWQvZ5ZpxGKeh3oDyYvN5v7H8hrW43CFp4tAAAAAElFTkSuQmCC) no-repeat;
}

.season-slideer-wrapper .season-slider-list span:last-child {
  margin-right: 0;
  border-right: 1px solid #e5e9ef;
  border-radius: 0 4px 4px 0;
}

.season-slideer-wrapper .season-slider-list span:last-child::after {
  display: none;
}

/***播放页**/
.player-wrap {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  height: 56.26667vw;
}

.player-back-btn {
  line-height: 0;
  position: absolute;
  top: 5%;
  left: 3%;
  z-index: 15;
  font-size: 20px;
  color: #fff;
}

@media (min-width: 1414px) {
  .player-wrap {
    height: 720px;
  }
}

.player-wrap #player-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.moe-player-wrap,
.moe-player-wrap .player-video {
  width: 100%;
  height: 100%;
}

.moe-player-wrap {
  position: relative;
  background-color: #222;
}

.van-grid-item--active [class*="van-hairline"]::after {
  border: 1px solid #fb7299;
}

.van-grid-item--active .van-grid-item__text {
  color: #fb7299;
}

.g-box-title {
  margin: 0;
  padding: 16px 10px;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
}

.van-margin-top {
  margin-top: 10px;
  background: #fff;
}

.video-recommend-box .video-list .van-grid-item {
  flex-basis: 33.3333333333%;
}

.van-clearfix .van-grid-item__content {
  background-color: transparent;
  padding: 8px;
}

.video-list .video-item-title {
  margin-top: 10px;
  font-size: 14px;
}

.video-list .video-item-tag {
  display: block;
  width: auto;
  max-width: 84%;
  font-size: 12px;
  position: absolute;
  bottom: 8px;
  right: 0;
  background-color: rgba(0, 0, 0, 0.65);
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 4px;
}

.van-tabbar-item--active,
.van-tabbar-item--active .van-icon {
  color: #ff5f00;
}

.van-tabbar {
  z-index: 99;
}

.bg-alpha {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-filter: blur(30px);
  -moz-filter: blur(30px);
  -ms-filter: blur(30px);
  filter: blur(30px);
  background-size: cover;
  background-position: center center;
  opacity: 0.88;
}

.van-cell .rank {
  font-size: 13px;
  color: #999;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 18px;
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  margin-right: 5px;
}

.van-cell .rank.top10 {
  color: #fff;
  background: #00a1d6;
}

.slider-item {
  flex-shrink: 0;
  width: 100%;
  display: flex;
  position: relative;
  font-size: 16px;
  align-items: flex-start;
  justify-content: left;
  flex-wrap: wrap;
  color: #fff;
  height: 300px;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.9) 0 2px 2px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.slider-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3.5rem;
  line-height: 3rem;
  color: #fff;
  background-color: rgba(64, 64, 64, 0.6);
}

/***用户页*/
.m-space-info {
  background: #fff;
  font-size: 0;
}

.m-space-info .banner {
  height: 130px;
  overflow: hidden;
  background: url(//s1.hdslb.com/bfs/static/jinkela/mstation-h5/assets/bannerTop_new.png);
  background-size: cover;
  background-position: 50%;
}

.m-space-info .part1 {
  padding: 0 10px;
}

.m-space-info .part1 .face {
  float: left;
  position: relative;
  width: 123px;
  height: 123px;
}

.bfs-img {
  background: url(//s1.hdslb.com/bfs/static/jinkela/mstation-h5/assets/loading.png) no-repeat 50%;
  background-size: contain;
  background-color: #e7e7e7;
  -o-object-fit: cover;
  object-fit: cover;
}

.m-space-info .part1 .face .avatar {
  position: absolute;
  z-index: 2;
  width: 123px;
  height: 123px;
  border-radius: 50%;
  margin-top: -3px;
}

.svg-icon {
  fill: currentColor;
}

.m-space-info .part1 .face .vip-label {
  width: 32px;
  height: 32px;
  position: absolute;
  right: 0;
  bottom: 5px;
  z-index: 3;
}

.m-space-info .part1 .relation {
  float: right;
  padding-top: 8px;
  color: #e7e7e7;
}

.m-space-info .part1 .relation .count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.m-space-info .part1 .relation .count>span {
  width: 90px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.m-space-info .part1 .relation .count .num {
  font-size: 20px;
  color: #212121;
  line-height: 4.26667vw;
}

.m-space-info .part1 .relation .count .type {
  font-size: 20px;
  color: #999;
}

.m-space-info .part1 .relation .count .split {
  vertical-align: middle;
  width: 1px;
  height: 23px;
  background: #e7e7e7;
}

.m-space-info .part1 .relation .follow-btn {
  display: block;
}

.m-space-info .part1 .relation .follow-btn button {
  width: 100%;
  display: block;
  height: 44px;
  border: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 1.06667vw;
  font-size: 16px;
  margin-top: 10px;
  outline: none;
}

.m-space-info .part1 .relation .follow-btn button.white {
  background: #fff;
  border: 1px solid #fb7299;
  color: #fb7299;
}

.m-space-info .part2 {
  clear: both;
  padding: 10px;
}

.m-space-info .part2 .base .name {
  font-size: 23px;
  color: #212121;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}

.m-space-info .part2 .base .vip {
  display: inline-block;
  font-size: 18px;
  color: #fefefe;
  background: #fb7299;
  width: 110px;
  height: 24px;
  line-height: 21px;
  text-align: center;
  border-radius: 5px;
  margin-left: 10px;
  vertical-align: middle;
  -webkit-transform: scale(0.71);
  transform: scale(0.71);
  -webkit-transform-origin: left;
  transform-origin: left;
  margin-right: -10px;
}

.m-space-info .part2 .desc {
  clear: both;
}

.m-space-info .part2 .desc .content {
  margin-top: 10px;
  font-size: 20px;
  color: #999;
  line-height: 22px;
  width: 450px;
  height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left;
}

.m-space-info .part2 .desc .spread-btn {
  margin-top: 10px;
  float: right;
  font-size: 20px;
  color: #1389bf;
}

.m-space-info .part2 .clearfloat {
  clear: both;
}

@media (min-width: 567px) {
  .van-margin-top .video-list .van-grid-item {
    flex-basis: 15%;
  }
}

@media (max-width: 735px) {
  .van-margin-top .video-list .van-grid-item {
    flex-basis: 33.333333333%;
  }
}

/***推荐页***/
.van-notify {
  line-height: 35px;
}

/*返回顶部*/
.cd-top {
  position: fixed;
  right: 25px;
  top: -900px;
  z-index: 99;
  width: 70px;
  height: 900px;
  background: url(//cdn.jsdelivr.net/gh/moezx/cdn@3.1.9/img/Sakura/images/scroll.png) no-repeat center;
  background-size: contain;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: url(//cdn.jsdelivr.net/gh/moezx/cdn@3.1.9/img/Sakura/cursor/No_Disponible.cur),
    auto;
  opacity: 1;
}

.cd-top.cd-is-visible {
  opacity: 1;
  top: -326px;
}

.faa-float.animated,
.faa-float.animated-hover:hover,
.faa-parent.animated-hover:hover>.faa-float {
  -webkit-animation: float 2s linear infinite;
  animation: float 2s linear infinite;
}

.faa-float.animated,
.faa-float.animated-hover:hover,
.faa-parent.animated-hover:hover>.faa-float {
  -webkit-animation: float 2s linear infinite;
  animation: float 2s linear infinite;
}

/* 图标 */
.setube.icon-game,
.setube.icon-link {
  color: #20aae2;
  animation: move 3s 0s infinite;
  -webkit-animation: move 3s 0s infinite;
  transform-origin: bottom;
  -webkit-transform-origin: bottom;
  display: none;
}

.setube.icon-link {
  display: block;
}

[class*=van-hairline]::after {
  border: 0;
}

@keyframes move {

  0%,
  65% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  70% {
    -webkit-transform: rotate(6deg);
    transform: rotate(6deg);
  }

  75% {
    -webkit-transform: rotate(-6deg);
    transform: rotate(-6deg);
  }

  80% {
    -webkit-transform: rotate(6deg);
    transform: rotate(6deg);
  }

  85% {
    -webkit-transform: rotate(-6deg);
    transform: rotate(-6deg);
  }

  90% {
    -webkit-transform: rotate(6deg);
    transform: rotate(6deg);
  }

  95% {
    -webkit-transform: rotate(-6deg);
    transform: rotate(-6deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@-webkit-keyframes move {

  0%,
  65% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  70% {
    -webkit-transform: rotate(6deg);
    transform: rotate(6deg);
  }

  75% {
    -webkit-transform: rotate(-6deg);
    transform: rotate(-6deg);
  }

  80% {
    -webkit-transform: rotate(6deg);
    transform: rotate(6deg);
  }

  85% {
    -webkit-transform: rotate(-6deg);
    transform: rotate(-6deg);
  }

  90% {
    -webkit-transform: rotate(6deg);
    transform: rotate(6deg);
  }

  95% {
    -webkit-transform: rotate(-6deg);
    transform: rotate(-6deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@media screen and (max-width: 860px) {
  .cd-top {
    display: none;
  }
}

@media (min-width: 1024px) {
  .wrapper,
  .van-tabbar {
    width: 1024px;
    margin: 0 auto;
  }

  .van-tabbar {
    text-align: center;
    left: auto;
  }
}

@media (max-width: 1024px) {
  .wrapper,
  .van-tabbar {
    width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .site-header {
    height: 77px;
  }

  .mg-b {
    margin-bottom: 0;
  }

  .van-image img {
    width: 93px;
  }

  .van-margin-top .video-list .van-grid-item .van-image img {
    width: 106px;
  }

  .slider-item {
    height: 200px;
  }

  .slider-title {
    height: 3rem;
    line-height: 2rem;
  }

  .van-swipe__indicators {
    bottom: 10px;
  }

  .setube.icon-game {
    display: block;
  }

  .setube.icon-link {
    display: none;
  }
}

@media (max-width: 360px) {
  .van-image img {
    width: 74px;
  }
}