body{
   background-color: #030303 !important;
}
h2,h5,p{
    color:#cccccc!important;
}
.van-tab,.detail-box .videos-description,.van-tabbar-item{
   color:#626262!important; 
}
.g-box-title.van-hairline--bottom[class*=van-hairline]::after,.season-slideer-wrapper .season-slider-list span.router-link-active:first-child:before,.van-grid-item [class*=van-hairline]::after,.van-hairline--top::after,.artalk>.artalk-editor,.ep-list-pre-wrapper [class*=van-hairline]::after,.filter-item.van-hairline--bottom[class*=van-hairline]::after,.artalk>.artalk-list>.artalk-list-body>.artalk-list-read-more{
    border:0!important;
}
.van-cell::after,.navbar,.artalk>.artalk-list>.artalk-list-header,.artalk-comment-wrap{
    border-bottom:0!important;
}
.artalk>.artalk-editor>.artalk-editor-bottom{
    border-top:0!important;
}
.van-cell .update,.setube.icon-game{
    color:#2d698a!important;
}
.van-swipe__indicator--active,.van-cell .rank.top10{
    background-color:#2d698a!important;
}
.season-slideer-wrapper .season-slider-list span.router-link-active:first-child:before{
    background-color:transparent!important;
}
.artalk>.artalk-editor>.artalk-editor-bottom .artalk-send-btn,.van-cell .rank.top10,.navbar i,.van-tab--active,.van-cell__value--alone,.van-cell,.van-grid-item__text,.filter-box--type,.season-slideer-wrapper .season-slider-list span,.slider-title,.van-tag,.detail-box .videos-description .more-info .c-more-link,.artalk *, .artalk-layer-wrap *,.van-button--default,.van-dialog,.van-search__action,.search-hot .list span,.video-list .video-item-tag,.search-history .history-list li{
    color:#cccccc!important;
}
.van-dialog__confirm,.router-link-exact-active {
    color: #bd5977!important;
}
.van-tabs__line{
    background-color:#bd5977!important;
}
.artalk-editor-plug-emoticons .artalk-emoticons-types>span.active, .artalk-editor-plug-emoticons .artalk-emoticons-types>span:hover,.artalk-editor-plug-emoticons .artalk-emoticons-types,.van-grid-item__content,.navbar .search,.artalk>.artalk-editor>.artalk-editor-textarea-wrap .artalk-editor-textarea,.artalk>.artalk-editor,.van-search__content,.search-hot .list span,.artalk-comment-wrap>.artalk-comment>.artalk-comment-main>.artalk-header>span.artalk-ua,.search-history .history-list li{
    background-color:#1e1e1e!important;
}
.artalk>.artalk-editor>.artalk-editor-bottom .artalk-send-btn{
    background:#20aae2!important;
}
.artalk>.artalk-list>.artalk-list-header .artalk-right-action>span.artalk-on,.artalk>.artalk-list>.artalk-list-footer .artalk-copyright{
    color:#20aae2!important;
}
.filter-box .filter-item .filter-box--type{
    display: none!important;
}
.artalk>.artalk-editor>.artalk-editor-header input:not(:last-child){
    border-right: 1px solid var(--at-color-border)!important;
}
.artalk-comment-wrap>.artalk-comment>.artalk-avatar img{
    border-radius: 50px!important;
}
.season-slideer-wrapper .season-slider-list span,.season-slideer-wrapper .season-slider-list span:last-child {
    border-radius: 4px!important;
    background-color: transparent!important;
    border-color: transparent!important;
    border:1px solid #626262!important;
}
.season-slideer-wrapper .season-slider-list span:first-child::before{
    border:1px solid #626262!important;
    border-right: none!important;
}
.season-slideer-wrapper .season-slider-list span.router-link-active {
    background-color: transparent!important;
    border-color: transparent!important;
    border:1px solid #bd5977!important;
    color: #bd5977!important;
}
.filter-item-col .van-tab.van-tab--active .van-tab__text,.artalk>.artalk-list>.artalk-list-body>.artalk-list-read-more>.artalk-text{
    background-color:#1e1e1e!important;
    border-radius: 4px!important;
    padding: 2px 4px 2px 4px!important;
}
.navbar,.van-margin-top,.van-tabs__nav,.van-cell,.van-tabbar,.box-common,.season-slideer-wrapper,.ep-list-pre-wrapper,.van-dialog,.van-button--default,.van-search,.van-search__action:active {
    background: #141414!important;
}
